n8n-workflow-v2.json
{
    "name": "KlinikApp WhatsApp Bot v6 (No JS)",
    "nodes": [
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.wa_id }}\n",
                "contextWindowLength": 50
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                208,
                864
            ],
            "id": "4e3deed2-f4ce-4bf9-9db7-3d96091f2898",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0.4
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                48,
                864
            ],
            "id": "7b73824c-1b5b-43c5-be86-91f91f3ea4b7",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "du6DhOGanBik7R68",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.mesaj_icerigi }}",
                "options": {
                    "systemMessage": "# Rol\nSen Feneryolu Psikiyatri kliniği için arkadaşça ve samimi bir yapay zeka asistanısın.\nAna görevin: müşterilere randevu oluşturmak, güncellemek ve iptal etmek.\n\n## Kurallar\n- Mesajlarında cümleleri ayrı satırlarda yaz.\n- Ad Soyad, Doktor ve Tarih/Saat bilgilerini alıp randevu oluştur.\n- Müşteri telefon numarası: {{ $json.gonderen_no }}\n- Bugünün Tarihi: {{ $now }}\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                624,
                640
            ],
            "id": "AI-Agent-Node",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "path": "whatsapp/webhook",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -960,
                480
            ],
            "id": "webhook-get-handshake",
            "name": "Webhook (GET Handshake)"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp/webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -960,
                640
            ],
            "id": "webhook-post-messages",
            "name": "Webhook (POST Messages)"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "check-mode",
                            "leftValue": "={{ $json.query['hub.mode'] }}",
                            "rightValue": "subscribe",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -720,
                480
            ],
            "id": "check-handshake",
            "name": "Check Handshake"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.query['hub.challenge'] }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -480,
                440
            ],
            "id": "respond-challenge",
            "name": "Respond Challenge"
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "set-mesaj-icerigi",
                            "name": "mesaj_icerigi",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
                            "type": "string"
                        },
                        {
                            "id": "set-gonderen-no",
                            "name": "gonderen_no",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
                            "type": "string"
                        },
                        {
                            "id": "set-wa-id",
                            "name": "wa_id",
                            "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -720,
                640
            ],
            "id": "data-normalization-set",
            "name": "Data Normalization"
        },
        {
            "parameters": {
                "operation": "send",
                "phoneNumberId": "1038350189365408",
                "recipientPhoneNumber": "={{ $node['Data Normalization'].json.gonderen_no }}",
                "textBody": "={{ $json.output }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                1088,
                560
            ],
            "id": "send-message-node",
            "name": "Send message",
            "credentials": {
                "whatsAppApi": {
                    "id": "pAHu8UjOiUUJ4ORt",
                    "name": "WhatsApp account"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "Randevu referans kodu ile mevcut bir randevuyu sorgular. Referans kodu ile randevu detaylarını döndürür.",
                "specifyInputSchema": true,
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"referenceCode\": {\n      \"type\": \"string\",\n      \"description\": \"The appointment reference code to look up\"\n    }\n  },\n  \"required\": [\"referenceCode\"]\n}",
                "method": "GET",
                "url": "https://rebuff-husband-legibly.ngrok-free.dev/api/v1/whatsapp/appointments/lookup?clinicId=135460d3-f612-457f-89e8-8ead3181c562",
                "sendQuery": true,
                "parametersQuery": {
                    "values": [
                        {
                            "name": "referenceCode",
                            "value": "={{ $fromAI('referenceCode') }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "parametersHeaders": {
                    "values": [
                        {
                            "name": "x-n8n-secret",
                            "value": "klinikapp-n8n-secret-2024"
                        }
                    ]
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                384,
                864
            ],
            "id": "randevu-sorgula-tool",
            "name": "randevu_sorgula"
        },
        {
            "parameters": {
                "toolDescription": "Yeni bir randevu oluşturur. Hasta adı, telefonu, doktor adı ve randevu zamanı gereklidir.",
                "specifyInputSchema": true,
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"clinicId\": {\n      \"type\": \"string\",\n      \"description\": \"Always use this exact ID: 135460d3-f612-457f-89e8-8ead3181c562\"\n    },\n    \"patientName\": {\n      \"type\": \"string\",\n      \"description\": \"Full name of the patient\"\n    },\n    \"patientPhone\": {\n      \"type\": \"string\",\n      \"description\": \"Phone number of the patient in international format\"\n    },\n    \"doctorName\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the doctor\"\n    },\n    \"startTime\": {\n      \"type\": \"string\",\n      \"description\": \"Appointment start time in ISO 8601 format\"\n    },\n    \"durationMin\": {\n      \"type\": \"number\",\n      \"description\": \"Always use this exact number: 60\"\n    }\n  },\n  \"required\": [\"clinicId\", \"patientName\", \"patientPhone\", \"doctorName\", \"startTime\", \"durationMin\"]\n}",
                "method": "POST",
                "url": "https://rebuff-husband-legibly.ngrok-free.dev/api/v1/whatsapp/appointments",
                "sendHeaders": true,
                "parametersHeaders": {
                    "values": [
                        {
                            "name": "x-n8n-secret",
                            "value": "klinikapp-n8n-secret-2024"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "parametersBody": {
                    "values": [
                        {
                            "name": "clinicId",
                            "value": "={{ $fromAI('clinicId') }}"
                        },
                        {
                            "name": "patientName",
                            "value": "={{ $fromAI('patientName') }}"
                        },
                        {
                            "name": "patientPhone",
                            "value": "={{ $fromAI('patientPhone') }}"
                        },
                        {
                            "name": "doctorName",
                            "value": "={{ $fromAI('doctorName') }}"
                        },
                        {
                            "name": "startTime",
                            "value": "={{ $fromAI('startTime') }}"
                        },
                        {
                            "name": "durationMin",
                            "value": "={{ $fromAI('durationMin') }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                592,
                864
            ],
            "id": "randevu-olustur-tool",
            "name": "randevu_olustur"
        },
        {
            "parameters": {
                "toolDescription": "Mevcut bir randevuyu günceller veya iptal eder. Güncelleme için yeni zaman, iptal için action olarak /cancel kullanılır.",
                "specifyInputSchema": true,
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"appointmentId\": {\n      \"type\": \"string\",\n      \"description\": \"The UUID of the appointment to update or cancel\"\n    },\n    \"action\": {\n      \"type\": \"string\",\n      \"description\": \"Use /cancel for cancellation or leave empty string for time updates\"\n    },\n    \"startTime\": {\n      \"type\": \"string\",\n      \"description\": \"New appointment start time in ISO 8601 format\"\n    },\n    \"durationMin\": {\n      \"type\": \"number\",\n      \"description\": \"Always use this exact number: 60\"\n    }\n  },\n  \"required\": [\"appointmentId\", \"action\", \"startTime\", \"durationMin\"]\n}",
                "method": "PATCH",
                "url": "=https://rebuff-husband-legibly.ngrok-free.dev/api/v1/whatsapp/appointments/{{ $fromAI('appointmentId') }}{{ $fromAI('action') }}?clinicId=135460d3-f612-457f-89e8-8ead3181c562",
                "sendQuery": false,
                "parametersQuery": {
                    "values": []
                },
                "sendHeaders": true,
                "parametersHeaders": {
                    "values": [
                        {
                            "name": "x-n8n-secret",
                            "value": "klinikapp-n8n-secret-2024"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "parametersBody": {
                    "values": [
                        {
                            "name": "startTime",
                            "value": "={{ $fromAI('startTime') }}"
                        },
                        {
                            "name": "durationMin",
                            "value": "={{ $fromAI('durationMin') }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                768,
                864
            ],
            "id": "randevu-guncelle-tool",
            "name": "randevu_guncelle"
        },
        {
            "parameters": {
                "toolDescription": "Belirli bir doktorun belirli bir tarihteki müsait randevu saatlerini kontrol eder.",
                "specifyInputSchema": true,
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"doctorName\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the doctor to check availability for\"\n    },\n    \"date\": {\n      \"type\": \"string\",\n      \"description\": \"Date to check in YYYY-MM-DD format\"\n    }\n  },\n  \"required\": [\"doctorName\", \"date\"]\n}",
                "method": "GET",
                "url": "https://rebuff-husband-legibly.ngrok-free.dev/api/v1/whatsapp/appointments/availability?clinicId=135460d3-f612-457f-89e8-8ead3181c562",
                "sendQuery": true,
                "parametersQuery": {
                    "values": [
                        {
                            "name": "doctorName",
                            "value": "={{ $fromAI('doctorName') }}"
                        },
                        {
                            "name": "date",
                            "value": "={{ $fromAI('date') }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "parametersHeaders": {
                    "values": [
                        {
                            "name": "x-n8n-secret",
                            "value": "klinikapp-n8n-secret-2024"
                        }
                    ]
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                928,
                864
            ],
            "id": "availability-tool",
            "name": "musaitlik_kontrol"
        }
    ],
    "connections": {
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "randevu_sorgula": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "randevu_olustur": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "randevu_guncelle": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "musaitlik_kontrol": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Send message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "webhook-get-handshake": {
            "main": [
                [
                    {
                        "node": "Check Handshake",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Handshake": {
            "main": [
                [
                    {
                        "node": "Respond Challenge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "webhook-post-messages": {
            "main": [
                [
                    {
                        "node": "Data Normalization",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Normalization": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "v6",
    "meta": {
        "templateCredsSetupCompleted": true
    }
}