output/cron_reminder_workflow_feneryolu.json
{
  "name": "CRON: Randevu Hatirlatici - Feneryolu",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1024, 4288],
      "id": "52ba9b58-a921-433d-aa1a-85c2ef8f2706",
      "name": "CRON: Her Gun 11:00"
    },
    {
      "parameters": {
        "url": "https://api.mekapanel.com/api/v1/whatsapp/appointments/reminder-due",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "klinikapp-n8n-secret-2024"
            },
            {
              "name": "clinicId",
              "value": "c971bb26-e0fc-49dc-8076-b2107a2d28a6"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-784, 4288],
      "id": "a08cee91-e54c-46a2-b304-0e11bf40b26d",
      "name": "CRON: Hatirlama Listesi Al",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-items",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 4288],
      "id": "2f0f23c2-fc22-4ab3-b11b-323882b18826",
      "name": "CRON: Hatirlatilacak Var mi?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-352, 4288],
      "id": "f0453107-1949-49e5-980e-713a59a6c4bf",
      "name": "CRON: Her Randevu Icin"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1217435624780666",
        "recipientPhoneNumber": "={{ $json.patientPhone }}",
        "textBody": "=Merhaba {{ $json.patientName }}! 👋\n\nYarınki randevunuzu hatırlatmak istedik:\n📅 Tarih: {{ $json.dateFormatted }}\n⏰ Saat: {{ $json.timeFormatted }}\n👨‍⚕️ {{ $json.doctorName }}\n\nRandevunuzu onaylamak için *EVET*, iptal etmek için *HAYIR* yazabilirsiniz.\n\n_Feneryolu Psikiyatri Kliniği_",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [-128, 4288],
      "id": "741ae818-73da-4c54-b3fe-b7ffbc785953",
      "name": "CRON: WA Hatirlama Gonder",
      "webhookId": "9ea62899-5f35-4557-aa07-3e93095066ae",
      "credentials": {
        "whatsAppApi": {
          "id": "pAHu8UjOiUUJ4ORt",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.mekapanel.com/api/v1/whatsapp/appointments/{{ $('CRON: Her Randevu Icin').item.json.appointmentId }}/reminder-sent?token=klinikapp-n8n-secret-2024&clinicId=c971bb26-e0fc-49dc-8076-b2107a2d28a6",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [96, 4288],
      "id": "75f8cdef-1dd7-45d3-b789-538a9bc069c0",
      "name": "CRON: Hatirlatmayi SENT Yap",
      "continueOnFail": true
    }
  ],
  "connections": {
    "CRON: Her Gun 11:00": {
      "main": [[{ "node": "CRON: Hatirlama Listesi Al", "type": "main", "index": 0 }]]
    },
    "CRON: Hatirlama Listesi Al": {
      "main": [[{ "node": "CRON: Hatirlatilacak Var mi?", "type": "main", "index": 0 }]]
    },
    "CRON: Hatirlatilacak Var mi?": {
      "main": [[{ "node": "CRON: Her Randevu Icin", "type": "main", "index": 0 }]]
    },
    "CRON: Her Randevu Icin": {
      "main": [[{ "node": "CRON: WA Hatirlama Gonder", "type": "main", "index": 0 }]]
    },
    "CRON: WA Hatirlama Gonder": {
      "main": [[{ "node": "CRON: Hatirlatmayi SENT Yap", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "87c0a25f5af05297c61afecbc1a76e1f62d2b42e620b33813844c0d8fb6d57aa"
  }
}
